
<div id="app">
  <main>
    <div class="box">
      <div class="content">
        <div class="weather">
          <h1>Weather</h1>
        </div>
        <h2>Affirmation</h2>
        <p>Small progress is still progress</p>
      </div>
      <div class="image">
        <h1>Image</h1>
      </div>
      <div class="date">
        <div class="num">09</div>
        <div class="dateText">
          <div class="day">Thursday</div>
          <div class="month">November</div>
        </div>
      </div>
    </div>
  </main>
  <footer><p>Copyright © A Powerpuff (girls) Initiative</p><img src="https://media.tenor.com/c0_cRbtSZYYAAAAC/the-powerpuff-girls-cartoon-network.gif" alt="powerpuff girls flying" width="40"></footer>
</div>
